<header class="d-flex flex-row-nowrap justify-content-center p-20">
    <div class="content flex-fill d-flex flex-row-nowrap align-items-center justify-content-between">
        <a class="header-logo" href="{{ path('home') }}">
            <img src="{{ asset('assets/images/LogoSite.png')}}">
        </a>
        <div class="p-10">
            <a class="btn btn-primary-theme mr-5" href="{{ path('presentation') }}">Présentation</a>
            <a class="btn btn-primary-theme mr-5" href="{{ path('personal_customer') }}">Particuliers</a>
            <a class="btn btn-primary-theme mr-5" href="{{ path('professional_customer') }}">Professionnels</a>
            <a class="btn btn-primary-theme mr-5" href="{{ path('contact') }}">Contact</a>
        </div>
    </div>
</header>